<head>
  <title>Open Addresses UK - Alpha <%= (@metadata ? ": #{@metadata['title']}" : nil) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' %>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= alternate_auto_discovery_link_tags %>
</head>
