<nav class="navigation" role="navigation">

  <div class="hamburger"><i class="fa fa-bars"></i></div>

  <ul class="nav nav-mobile navbar-nav">
    <% for item in Jekylly::Engine.site_data('navigation') %>
    <% if item['children'] %>
    <li>
      <a href="<%=item['path']%>"><%=item['title']%></a>
      <ul>
        <% for child in item['children'] %>
        <li>
          <a href="<%=child['path']%>"><%=child['title']%></a>
        </li>
        <% end %>
      </ul>
    </li>
    <% else %>
    <li>
      <a href="<%=item['path']%>"><%=item['title']%></a>
    </li>
    <% end %>
    <% end %>
  </ul>

  <ul class="nav nav-desktop navbar-nav">
    <% for item in Jekylly::Engine.site_data('navigation') %>
    <% if item['children'] %>
    <li>
      <a href="<%=item['path']%>"><%=item['title']%> <i class="fa fa-sort-desc"></i></a>
      <ul>
        <% for child in item['children'] %>
        <li>
          <a href="<%=child['path']%>"><%=child['title']%></a>
        </li>
        <% end %>
      </ul>
    </li>
    <% else %>
    <li>
      <a href="<%=item['path']%>"><%=item['title']%></a>
    </li>
    <% end %>
    <% end %>
  </ul>

</nav>