
<h1 class="address-search-title">Search for an address</h1> 

<script>
  function filterSearch(){
    // cribbed off stackoverflow like a boss: https://stackoverflow.com/questions/2417928/delete-empty-values-from-forms-params-before-submitting-it
    form = jQuery("#search");
    form.find(':input', this).each(function() {
        this.disabled = !($(this).val());
    });
  }

  // Make sure form elements are enabled (needed for Firefox)
  form = jQuery("#search");
  form.find(':input', this).each(function() {
    this.disabled = false;
  });
</script>

<form action="/addresses" class="address-search" role="form" id="search" onSubmit="filterSearch(); return true" >

  <label class="sr-only" for="street">Street name</label>
  <input type="text" class="form-control" id="street" name="street" placeholder="Street name" value="<%= params[:street]%>">

  <label class="sr-only" for="town">Town or City</label>
  <input type="text" class="form-control" id="town" name="town" placeholder="Town or City" value="<%= params[:town]%>">

  <label class="sr-only" for="postcode">Postcode</label>
  <input type="text" class="form-control" id="postcode" name="postcode" placeholder="Postcode" value="<%= params[:postcode]%>">

  <button type="submit" class="btn btn-primary">Search</button>

</form>

<% if @addresses %>

  <% if @addresses.count == 0 %>

    <div class="alert alert-warning" role="alert">
      <p>Sorry, there were no results for your query.</p>
    </div>

  <% else %>

    <h2 class="address-search-results-title">Results</h2>
    <%= alternate_link_buttons(class: 'address-search-alt-button') %>

    <hr>

    <div id="map" class="address-search-results-map"></div>

    <ul class="address-search-results-list">
    <% @addresses.each do |address| %>

      <li data-latlng="<%= address.postcode.lat_lng.to_a.join(",") %>"><%= link_to address.full_address, address %></li>

    <% end %>
    </ul>

    <%= paginate @addresses %>

  <% end %>

  <hr>

  <%= render 'addresses/address_submit' %>

<% end %>
