<!DOCTYPE html>
<html>
<head>
  <title>Theodolite</title>
  <%= stylesheet_link_tag    'http://openaddressesuk.org/assets/application.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='page-header'>
  	<div class='container'>
  		<a href='/'><img src='http://openaddressesuk.org/assets/logo.png' /></a>
  	</div>
  </div>

  <div class="container">

    <%= yield %>

  </div>

  <div class='footer'>

  <div class='container'>

    <div class='row'>

      <div class='col-md-8'>

        <img src='http://openaddressesuk.org/assets/logo_white.png' alt='Open Addresses' class='logo'/>

        <address>
          Open Addressess Limited c/o BPE Solicitors LLP, St James' House, St James Square, Cheltenham, GL50 3PR
          <br>
          Company No. 09172118
          <br>
          <a href='http://openaddressesuk.org/about/data/privacy/'>Privacy Policy</a>
        </address>

      </div>

      <div class='col-md-4'>
        <a href='https://twitter.com/OpenAddressesUK'>@OpenAddressesUK</a>
        <br>
        <a href='mailto:team@openaddressesuk.org'>team@openaddressesuk.org</a>
      </div>

    </div>

  </div>

</div>

</body>
</html>
