<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head' %>
<body>

  <div class="alert alert-warning alert-dismissible" role="alert" id="alpha-message">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <p class="text-center">Open Addresses is in Alpha. Please give us your <a onclick="_bugHerd.win.bugherd.applicationView.anonymousbar.toggleOptions()">feedback</a></p>
  </div>

  <div class='page-header'>
  	<div class='container'>
  		<a href='/'><%= image_tag 'logo.png' %></a>
  	</div>
  </div>

  <%= render partial: 'shared/navigation' %>

  <div class='container'>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>

  <%= render partial: 'shared/footer' %>
  
  <%= render partial: 'shared/footer_scripts' %>
  
</body>
</html>
