<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head' %>
<body>

  <%= render partial: 'shared/alpha' %>

  <div class='page-header'>
  	<div class='container'>
  		<a href='/'><%= image_tag 'logo.png' %></a>
  	</div>
  </div>

  <%= render partial: 'shared/navigation' %>

  <div class='container'>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>

  <%= render partial: 'shared/footer' %>
  
  <%= render partial: 'shared/footer_scripts' %>
  
</body>
</html>
