<!DOCTYPE html>
<html>
<%= render partial: 'shared/head' %>
<body class="<%= yield(:body_class)%>">

  <div class="page-content">

    <div class='container'>
      <div class='page-header'>
        <a href='/'><%= image_tag 'logo.png', :class => "logo" %></a>
        <%= render partial: 'shared/navigation' %>
      </div>
    </div>

    <div class='container container-content'>
        <%= render partial: 'shared/alerts' %>
        <%= content_for?(:content) ? yield(:content) : yield %>
    </div>

    <%= render partial: 'shared/footer' %>
    <%= render partial: 'shared/footer_scripts' %>

  </div>
</body>
</html>
