<!DOCTYPE html>
<html>
<%= render partial: 'shared/head' %>
<body>

  <div class="page-home">

    <div class='container'>
      <div class='page-header'>
        <a href='/'><%= image_tag 'logo.png', :class => "logo" %></a>
        <%= render partial: 'shared/navigation' %>
      </div>
    </div>

    <div class="container">
      <%# content_for?(:content) ? yield(:content) : yield %>
    </div>

    <div class="home-hero">
      <h2>Making  UK address data better for everyone</h2>
      <p>Addresses are part of our everyday lives. But it’s not simple to locate addresses, to enter addresses on websites,or even to get access to an accurate list. We’re here to change that.</p>
      <a href="#">Learn more</a>
       <%= image_tag 'home-gfx-mobile.png', :class => "home-gfx-mobile" %>
      <%= image_tag 'home-gfx.png', :class => "home-gfx" %>
    </div>

    <div class="container">
      <div class="home-ctas">
           <div class="home-cta">
          <h2><a href="/get-involved/add-an-address">Donate your address data</a></h2>
          <p>Everyone who uses Open Addresses will benefit from every address donation. Collaborate with us and we can all create better address data that everyone can use</p>
          <div class="home-cta-data-indicator"><span>X<em>m</em></span> UK addresses</div>  
        </div>
        <div class="home-cta">
          <h2><a href="/developers/apis-and-data">Open Addresses in your apps</a></h2>
          <p>Developers! We’re looking for exciting and interesting ways open addresses can be used in your app or service. Get started with our APIs.</p>
          <div class="home-cta-data-indicator"><span><em>nnnn</em></span> average confidence score</div>
        </div>
        <div class="home-cta">
          <h2><a href="/get-involved/trialists">Partnering with Open Addresses</a></h2>
          <p>There should be no barriers to accessing vital national data such as the list of UK addresses. Try Open Addresses within your organisation and begin the journey of using and publishing open data.</p>
        </div>
      </div>
    </div>

    <div class="wrapper wrapper-orange">
      <div class="container">
        <div class="case-study">
          <div class="case-study-gfx"><%= image_tag 'case-study-something-new-gfx.png' %></a></div>
          <div class="case-study-content">
            <span class="subtitle">Case study</span>
            <h2>Addressing political issues</h2>
            <p><strong>Something New are a political party who face a challenge faced by many organisations: hundreds of emails from multiple people each interested in different issues. Some issues were national, some issues were local - for example an issue with the nearby hospital, some were hyperlocal - for example concerns over a local park.</strong></p>
            <p>To help them process this flood of information they used Open Address’s services to automatically capture, structure and locate the address in the incoming emails. Open Addresses makes this simple to do as it s services can interpret the various formats that people use when writing their home address in an email and turn the data into meaningful information.</p>
            <p>This allows Something New to more easily understand where issues are being raised from and then provide a tailored response. It helps Something New engage more voters and it helps the voters get their voices heard.</p>
          </div>
        </div>
      </div>
    </div>

  <div class="wrapper wrapper-corner-gfx-1">
    <div class="container">
      <div class="home-services">
        <h2>Services</h2>
        <div class="home-services-list">
          <div class="service">
            <h3><a href="#">Free-format address input</a></h3>
            <p>Simple address entry suitable for all users from the least confident to those with high digital skills.</p>
          </div>
          <div class="service">
            <h3><a href="#">Type-ahead address input</a></h3>
            <p>Smart address entry for users with higher digital skills.</p>
          </div>
          <div class="service">
            <h3><a href="#">Data Sorting Office</a></h3>
            <p>Use our API to cleanse, categorise and parse your data.</p>
          </div>
          <div class="service">
            <h3><a href="#">Locate Addresses</a></h3>
            <p>Look up the latitude and longitude for a postcode.</p>
          </div>
          <div class="service">
            <h3><a href="#">Address Parsing</a></h3>
            <p>Turn unstructured addresses into useful information.</p>
          </div>
          <div class="service">
            <h3><a href="#">New Service Creation</a></h3>
            <p>Create innovative new services, with the use of our unique, persistent URLs for every address.</p>
          </div>
          <div class="service">
            <h3><a href="#">Data Enrichment</a></h3>
            <p>Use our service to access bulk data and enrich other data sources.</p>
          </div>
          <div class="service">
            <h3><a href="#">Data Rationalisation</a></h3>
            <p>Use Open Addresses’ unique, persistent identifiers to simplify your IT architecture.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper wrapper-light-gray">
    <div class="container">
      <div class="discussion">
        <h2>Updates</h2>
        <div class="discussion-blocks">
          <div>
          <span class="subtitle">Latest blog post</span>
            <h3><a href="/news/2015/02/04/open-data-camp">Open Addresses UK to sponsor Open Data Camp</a></h3>
            <p>Open Addresses UK has announced that it will be sponsoring Open Data Camp 2015 on February 21st and 22nd in Winchester.</p>
          </div>
          <div>
            <span class="subtitle">Latest news</span>
            <h3><a href="/blog/2015/02/12/inference">Multiplying addresses</a></h3>
            <p>Postcode area ‘ZE’ is the black sheep of the launch edition of the Open Addresses UK dataset. It was generated (or “distilled”) from our source data on 10th December 2014, and we knew only 117 addresses belonging to it at the time.</p>
          </div>
          <div>
            <span class="subtitle">Latest forum post</span>
            <h3>If you didn’t find a service that you were looking for then let us know</h3>
            <ul>
              <li><a href="https://github.com/OpenAddressesUK/forum">On the GitHub forum</a></li>
              <li><a href="https://twitter.com/OpenAddressesUK">On Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<%= render partial: 'shared/footer' %>
<%= render partial: 'shared/footer_scripts' %>

</body>
</html>
