<% content_for :content do %>
  <div class="container">
    
    <p><% if post.author %> By <%=post.author%> on <% end %> <%= post.date | date_to_long_string %></p>

    <%= yield %>
    
    <div>
      <%= include 'comments' %>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
